.adressess > p {
  cursor: pointer;
}

.adressess > p:hover,
.right > a:hover {
  text-decoration: underline;
}

.block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 0px;
  background-color: #bf789fd4;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vertical {
  width: 300px;
  height: 60px;
  transform: rotate(90deg);
  background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' standalone='no'?%3e%3c!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3e%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='230.000000pt' height='92.000000pt' viewBox='0 0 230.000000 92.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,92.000000) scale(0.100000,-0.100000)' fill='%23ffffff' stroke='none'%3e%3cpath d='M1055 601 c-44 -11 -120 -36 -170 -56 -81 -33 -335 -156 -360 -174 -5 -5 -41 -20 -80 -35 -127 -50 -223 -35 -250 38 -19 55 45 117 99 96 15 -5 26 -6 26 -1 0 14 -56 23 -90 16 -37 -8 -62 -43 -63 -89 -1 -50 20 -83 68 -106 85 -41 154 -24 413 105 319 159 437 195 604 182 100 -8 119 -22 41 -30 -130 -14 -238 -70 -298 -155 -25 -37 -30 -52 -30 -107 0 -57 3 -67 29 -94 16 -17 51 -38 77 -46 62 -21 120 -7 170 41 33 32 42 35 105 38 73 3 115 19 151 58 44 47 56 128 29 193 -18 42 -13 43 66 16 57 -20 138 -66 138 -79 0 -4 -7 -16 -15 -26 -8 -11 -15 -37 -15 -58 0 -39 19 -58 58 -58 45 0 68 73 37 114 -18 24 -13 31 43 60 116 58 254 38 301 -45 19 -33 9 -67 -30 -107 -20 -20 -26 -32 -17 -32 16 0 50 33 67 67 55 108 -135 212 -290 158 -24 -8 -59 -23 -77 -32 -26 -15 -35 -15 -50 -5 -36 26 -139 72 -187 83 -27 6 -72 20 -100 31 -140 57 -270 69 -400 39z m404 -97 c62 -51 62 -157 0 -208 -34 -29 -65 -39 -124 -40 -35 -1 -40 2 -43 24 -6 59 -13 72 -47 86 -31 12 -39 12 -70 0 -29 -12 -35 -20 -35 -45 0 -35 21 -58 69 -78 l36 -15 -28 -24 c-57 -49 -189 -21 -217 45 -24 59 12 149 80 199 65 48 172 79 287 81 52 1 66 -3 92 -25z m326 -161 c8 -35 -17 -63 -43 -47 -24 15 -27 41 -7 70 19 29 39 20 50 -23z m-531 -15 c18 -25 19 -37 7 -56 -7 -11 -14 -11 -42 1 -49 20 -64 41 -44 61 23 23 61 20 79 -6z'/%3e%3c/g%3e%3c/svg%3e ")
    no-repeat center;
  background-size: contain;
}
