.catalog {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 20px;
  background-color: #d9adc5;
  padding: 40px 20px;
  border-radius: 30px;
  height: max-content;
}

.left h3,
.left label {
  color: #000;
}

.content {
  display: flex;
  gap: 40px;
}

.right {
  /* padding: 0 40px; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}

._dark {
  color: #fff;
}
