.radio {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.address {
  display: flex;
  gap: 20%;
}

.content span {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 20px;
  color: #000;
}

.datetime {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.radio label {
  margin: 0;
}

.inputError {
  border: 1px solid red !important;
}

.error {
  color: red !important;
  margin-top: 4px;
}

.image {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='143' height='143' viewBox='0 0 143 143' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M101.472 56.7844C102.286 55.9416 102.736 54.8128 102.726 53.6411C102.716 52.4694 102.246 51.3486 101.417 50.52C100.589 49.6915 99.4681 49.2215 98.2964 49.2113C97.1247 49.2012 95.9959 49.6516 95.1531 50.4656L64.7969 80.8218L50.0813 66.1062C49.2385 65.2922 48.1096 64.8418 46.938 64.852C45.7663 64.8621 44.6454 65.3321 43.8169 66.1607C42.9884 66.9892 42.5184 68.11 42.5082 69.2817C42.498 70.4534 42.9485 71.5822 43.7625 72.425L61.6375 90.3C62.4755 91.1378 63.6119 91.6084 64.7969 91.6084C65.9818 91.6084 67.1183 91.1378 67.9563 90.3L101.472 56.7844ZM71.5 8.9375C36.9476 8.9375 8.9375 36.9476 8.9375 71.5C8.9375 106.052 36.9476 134.062 71.5 134.062C106.052 134.062 134.062 106.052 134.062 71.5C134.062 36.9476 106.052 8.9375 71.5 8.9375ZM17.875 71.5C17.875 41.8856 41.8856 17.875 71.5 17.875C101.114 17.875 125.125 41.8856 125.125 71.5C125.125 101.114 101.114 125.125 71.5 125.125C41.8856 125.125 17.875 101.114 17.875 71.5Z' fill='black'/%3e%3c/svg%3e ")
    no-repeat center;
  background-size: cover;
  width: 140px;
  height: 140px;
}

.container {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
